@import 'main.less';

body {
  width: 100%;
  height: 100%;
}

main {
  height: 100%;
  width: 80%;
  margin: 75px auto;
  background-color: @white;
}

hr {
  clear: none;
  height: 3px;
  width: 95%;
  margin: 0 auto;
  border: 0;
  background-color: @gray;
}

header {
  & :nth-child(n) {
    margin-top: @base-margin;
  }
  float: left;
  margin-top: -75px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}
section {
  & :nth-child(n) {
    margin-top: @base-margin;
  }
  margin: @base-margin;
}
section h2 {
  color: @primary-color;
}

.year {
  margin: 0;
  display: inline-block;
  width: 10%;
  vertical-align: top;
}
.detail {
  & h3 {
    margin: 0;
    padding: @base-padding;
  }
  & p {
    margin: 0;
    padding: @base-padding;
  }
  background-color: @gray;
  display: inline-block;
  width: 80%;
}
